* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.bg {
    background: url(background-img.jpg) no-repeat center center/cover;
    /* background: url('https://wallpapers.com/images/hd/sea-of-thieves-captain-ghost-tavern-du3y5lwd6nry5er7.webp') no-repeat center center/cover; */
    position: absolute;
    top: - 30px;
    left: - 30px;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(70px);
}

.loading-text{
    font-size: 50px;
    color: red;

}
